@font-face {
  font-family: Arsenica, serif;
  src: url('../assets/fonts/Arsenica/ArsenicaTrial-Regular.ttf');
}

@font-face {
  font-family: 'TT Norms', sans-serif;
  src: url('../assets/fonts/TT_Norms/TTNorms-Regular.otf');
}

:root {
  --font-main: Arsenica, serif;
  --font-secondary: 'TT Norms', sans-serif;
}
